<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crystal.Reports" version="13.0.15.1840" targetFramework="net46" />
  <package id="Crystal.Reports.Essentials" version="13.0.15.1840" targetFramework="net46" />
  <package id="CrystalDecisions.CrystalReports.Engine" version="1.0.0" targetFramework="net46" />
  <package id="CrystalDecisions.Shared" version="1.0.0" targetFramework="net46" />
  <package id="CrystalDecisions.Windows.Forms" version="1.0.0" targetFramework="net46" />
  <package id="CrystalReports" version="13.0.5.891" targetFramework="net46" />
</packages>